---
import { getServerIp } from "../scripts/getServerIp.ts";

const serverIp = await getServerIp();
---

<footer
  class="bg-yellow-500 text-center py-6 border-t-4 border-yellow-600 text-sm text-gray-900 shadow-inner"
>
  <ul class="space-y-1">
    <li>
      <strong>Dirección del servidor:</strong>
      <span id="server-host" class="font-mono">Detectando...</span>
    </li>
    <li>
      <strong>IP del servidor:</strong>
      <span id="server-ip" class="font-mono">{serverIp}</span>
    </li>
    <li>
      <strong>Tu IP:</strong>
      <span id="client-ip" class="font-mono">Detectando...</span>
    </li>
  </ul>

  <script src="../scripts/getClientIp.ts"></script>
  <script src="../scripts/getServerHost"></script>
</footer>
