---
import ServerIPLabel from "../components/ServerIPLabel.astro";

export const prerender = true;
---

<footer
  class="bg-yellow-500 text-center py-6 border-t-4 border-yellow-600 text-sm text-gray-900 shadow-inner"
>
  <ul class="space-y-1">
    <li>
      <strong>Dirección del servidor:</strong>
      <span id="server-host" class="font-mono">Detectando...</span>
    </li>
    <ServerIPLabel server:defer>
      <Fragment slot="fallback">
        <li>
          <strong>IP del servidor:</strong>
          <span id="server-ip">Detectando...</span>
        </li>
      </Fragment>
    </ServerIPLabel>
    <li>
      <strong>Tu IP:</strong>
      <span id="client-ip" class="font-mono">Detectando...</span>
    </li>
  </ul>

  <script src="../scripts/getClientIp.ts"></script>
  <script src="../scripts/getServerHost"></script>
</footer>
